[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rbiogeme"]
	path = rbiogeme
	url = https://github.com/michelbierlaire/rbiogeme
